.container {
  width: 100%;
  height: 100%;
}
.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 20px 0px 50px * 2 0px;
  padding: 10px 0px;
}
.prodCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 23%;
  height: auto;
  background-color: #fff;
  margin: 10px 15px;
  border-radius: 4px;
}
.prodCard p {
  padding: 0px 10px;
}
.price {
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
.description {
  font-size: 15px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgba(106, 106, 106, 0.887);
}
.category {
  font-size: 15px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
